.add-button{
    background-color: chartreuse;
    height: 3rem;
    padding: 0 0.8rem;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    color: #444;
    font-weight: bold;
    cursor: pointer;
    border: none;
}