.task-container{
    background-color: #444;
    margin: 1rem 0;
    padding: 1rem 1.2rem;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #eee;
    align-items: center;
}