.task-details-container{
    background: #444;
    margin: 1rem 0;
    padding: 1rem 1.2rem;
    display: flex;
    flex-direction: column;
    color: #eee;
    border-radius: 0.3rem;
}
.task-details-container h2 {
    margin-bottom: 0.5rem;
    color: chartreuse;
}

.back-button-container{
    width: 30%;
    margin-top: 0.8rem;
    

}