

*{
    margin: 0;
    padding: 0;
    
}
body{
background-color: #726868;
color: whitesmoke;


}
h1{
    text-align: center;
}

.app{
    
   margin: auto;
   margin-top: 2rem;
    height: 30rem;
    width: 30rem;
    border: solid;
    background-color: darkseagreen;
    
}